<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>{% extends "base.html" %}
{% load static %}

{% block title %}Tętno na AK{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/form/full_background.css' %}"></link>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="cover-container d-flex h-80 p-3 mx-auto flex-column">
            <main role="main" class="inner cover">
                <div class="row">
                    {% csrf_token %}
                    <h1 id="head">Błąd!!!</h1><br><br><br>
                </div>
                <div class="row">
                    {{ pl }} = {{ eng }}
                </div>
                <div class="row">
                {% csrf_token %}
                    <form method="get" action="/learn">
                        {% csrf_token %}
                        <button class="btn btn-dark btn-block" type="submit">Ucz się dalej</button>
                    </form>
                </div>


            </main>
        </div>
    </div>
{% endblock %}

